﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="Name" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="Description" value="" class="form-control"></textarea>
            </div>            
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>
</div>

