﻿
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this category?</h2>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <input type="hidden" name="Id" value="@Model.Id" />            
            <input type="submit" value="Yes" class="btn btn-primary" />
        </form>
    </div>
</div>