﻿@model NewClothBazar.Entities.Category

@{
    ViewBag.Title = "Edit Category";
}

<h2>Edit Category</h2>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="Name" value="@Model.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="Description" class="form-control">@Model.Description</textarea>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>
</div>