﻿@model List<NewClothBazar.Entities.Category>

@{
    ViewBag.Title = "Manage Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@ViewBag.Title</h2>

<a href="~/Category/Create">Create</a>

<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <a href="~/Category/Edit/@item.Id">Edit</a> |
                    <a href="~/Category/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>